body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
   
}
.main{
    width: 350px;
    height: 580px;
    background-color: (0,0,0,0.5);
    color:#000000;
    font-weight: bold;
    top:50%;
    right: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:0 20px ;
}
h2{
    margin: 5;
    padding: 0;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    color: #171616;
}
.main input[type="text"]
{
    border:none;
    border-bottom: 1px solid black;
    background: whitesmoke;
    outline:none;
    height: 26px;
    color: #000000;
    font-size: 16px;
    border-radius: 10px;
}
#bt input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background:rgb(170, 215, 235);
    color: #100f0f;
    border-radius: 10px;
    font-size: 22px;
}
#bt input[type="submit"]:hover{
    color: rgb(21, 21, 21);
    background: hsl(233, 85%, 57%);
}